<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{shoe.name}}</h1>
    <img src={{shoe.imgUrl}} alt="">
    <h5>${{shoe.price}}</h5>
    <h6>{{shoe.Sizes}}</h6>
    <p>{{shoe.Discription}}</p>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Buy">
    </form>
  </body>
</html>
